$color-1 = #A7A7A7

input
  outline none

.top-bar
  position fixed
  top 0vh
  left 0vh
  height 50px
  width 100vw
  box-shadow 0px 1px 8px grey
  background-color #FEFEFE

  input
    position absolute
    left 155px
    top 10px
    height 30px
    width 200px
    font-family Arial, Helvetica, sans-serif
    color gray
    text-align center
    border-radius 2px
    border solid 1px #dcdcdc

.logo
  position absolute
  left 95px
  top 5px
  height 42px
  width auto

.name
  position absolute
  left 10px
  top 5px
  font-size 2em

.authentication-box
  position absolute
  right 20px
  top 10px
  //padding 5px;
  //border-radius 10px
  border solid 1px #dcdcdc
  overflow visible
  -webkit-animation animatezoom 0.6s;
  animation animatezoom 0.6s


.feed-search
  position relative
  height 80px
  border 1px solid blue
  padding 10px

.feed-wrapper
  position relative
  height calc(100% - 80px)
  width 100%
  overflow-y scroll
  border 1px dashed green

.feed
  position relative
  width 500px
  left 50%
  margin-left -250px
  overflow-y scroll
  padding 10px

.resource-circle
  position relative
  height 450px
  width 450px
  border-radius 10px
  margin 20px
  overflow hidden
  border 2px solid #d9d9d9

  &:hover
    //background-color #fcfcfc

.resource-title
  position relative
  height 100px
  width 250px
  left 100px
  top 40px
  font-size 17px
  text-align center
  border-radius  10px
  //border 1px solid black

.resource-horizontal-line-below-title
  position relative
  margin-top 50px

.resource-tags-box
  position relative
  top -10px
  height 140px
  width 400px
  left 25px
  text-align center
  font-size 15px
  //border 1px dashed darkred

.resource-save
  position absolute
  bottom -10px
  height 46px
  width 235px
  left -8px
  text-align center
  padding 3px
  font-size 20px
  border-radius 10px
  border 2px solid #d9d9d9

.badge
  padding-left 8px
  padding-right 8px
  font-size 15px
  margin-right 7px
  margin-bottom  5px


.under-top-bar-area
  position fixed
  top 50px
  left 0vw
  height calc(100% - 50px)
  width 100vw
  //border 1px blue dashed

.tab-menu-area
  position absolute
  top 0px
  left 0px
  height 400px
  width 130px
  //border 1px black dashed

.tab-content-area
  position absolute
  top 0px
  right 0px
  height 100%
  width calc(100% - 130px)
  border 1px purple dashed

.react-tabs [role=tab]
  width 125px
  height: 63px
  border: 3px solid transparent
  margin-top 5px

.react-tabs [role=tab]:focus:after
  display none

.react-tabs [role=tab][aria-selected=true]
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;

.react-tabs [role=tablist]
  border-bottom none
